.input {
	width: 345px;
	min-height: 50px;
	padding: 16px 0 16px 16px;
	color: $text-color;
	background: #FFFFFF;
	border: 1px solid #C9CACC;
	box-sizing: border-box;
	border-radius: 4px;
	outline: none;
	@include font (16px, 18px, 300);
}