/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E5E5E5;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.wrapper .hidden {
  display: none;
}

.title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  font-style: normal;
  color: #424242;
  text-transform: capitalize;
}

.title_bordered {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto-regular.woff) format("woff"), url(../fonts/roboto-regular.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto-medium.woff) format("woff"), url(../fonts/roboto-medium.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(../fonts/roboto-light.woff) format("woff"), url(../fonts/roboto-light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}

.app {
  height: 100vh;
}

.app__main {
  height: 100%;
  color: #FFFFFF;
}

.fieldset {
  width: 100%;
}

.fieldset__legend {
  margin: 0 0 7px 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 500;
  font-style: normal;
  color: #424242;
}

.fieldset__legend_red {
  color: #EB1717;
}

.fieldset__input {
  width: 100%;
  height: 50px;
  padding: 16px 0 16px 16px;
  color: #424242;
  background: #FFFFFF;
  border: 1px solid #C9CACC;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 300;
  font-style: normal;
}

.fieldset__input_red {
  border: 1px solid #EB1717;
  color: #EB1717;
}

.fieldset__error {
  margin: 7px 0;
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  font-style: normal;
  color: #EB1717;
}

.form-button {
  width: 100%;
  min-height: 50px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(104.34deg, #41522E -15.34%, #BE8022 145.95%);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  font-style: normal;
  color: #FFFFFF;
}

.form-button:hover,
.form-button:active {
  cursor: pointer;
}

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -191px 0 0 -205px;
  z-index: 1;
  width: 345px;
  min-height: 318px;
  padding: 32px;
  background: #FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.login-form__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form__title {
  margin: 0 0 32px 0;
}

.login-form__input {
  margin: 0 0 24px 0;
}

.login-form__button {
  margin: 8px 0 0 0;
}

.login {
  height: 100%;
  background-image: url(../../img/login-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login__wrapper {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
}

.header__wrapper {
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logout-button {
  width: 83px;
  height: 24px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  background: transparent;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  font-style: normal;
  color: #41522E;
}

.header__logout-button:hover {
  cursor: pointer;
}

.search-form {
  width: 296px;
  min-height: 346px;
  padding: 32px;
  background: #FFFFFF;
  box-shadow: 0px 4px 33px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
}

.search-form__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search-form__fieldset {
  margin: 0 0 24px 0;
}

.search-form__button {
  margin: 8px 0 0 0;
}

.hotel-check__wrapper {
  width: 1048px;
  margin: 0 auto;
}

.hotel-check__left-inner {
  width: 360px;
}
/*# sourceMappingURL=style.css.map */