body {
	font-family: 'roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $app-bkg;
}

.container {
	width: 1440px;
	margin: 0 auto;
}

.wrapper .hidden {
	display: none;
}

.title {
	font-size: 24px;
	line-height: 28px;
	font-weight: 500;
	font-style: normal;
	color: $text-color;
	text-transform: capitalize;
}

.title_bordered {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}